*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

#app {
  overflow: hidden;
}

section {
  position: relative;
  padding: 0 $padding-side-desktop;

  @include respond(tablet) {
    padding: 0 $padding-side-tablet;
  }

  @include respond(mobile) {
    padding: 0;
  }

  &:not(:first-child):not(.location) {
    margin-top: 16rem;

    @include respond(tablet) {
      margin-top: 12rem;
    }
  }
}

.container {
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &--strong {
    background-color: $color-primary-peach;
    color: #fff;

    h1,
    h2,
    h3 {
      color: #fff;
    }
  }

  &--light {
    background-color: #fdf3f0;

    h1,
    h2,
    h3 {
      color: $color-primary-peach;
    }
  }
}

::selection {
  background-color: $color-primary-peach;
  color: #fff;
}
