$color-primary-peach: #e7816b;
$color-primary-dark: #1d1c1e;

$color-secondary-peach: #ffad9b;
$color-secondary-dark: #333136;
$color-secondary-light: #f1f3f5;

$padding-side-desktop: 11.4vw;
$padding-side-tablet: 5.2vw;
$padding-side-mobile: 6.4vw;
