// INTRO SECTION
.home-intro {
  &__container {
    padding: 14.5rem 9.5rem;

    @include respond(tablet-land) {
      padding: 8rem 5.8rem 45.7rem;
    }

    @include respond(mobile) {
      padding: 8rem $padding-side-mobile 45.1rem;
    }

    @include respond(mobile) {
      border-radius: initial;
    }
  }

  &__content {
    width: 37.5vw;
    min-width: 54rem;
    position: relative;
    z-index: 2;

    @include respond(tablet-land) {
      text-align: center;
      margin: auto;
      width: 100%;
      max-width: 57.3rem;
      min-width: initial;
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    width: 31vw;
    min-width: 44.5rem;
    margin-bottom: 4rem;

    @include respond(tablet-land) {
      margin: 0 auto 3rem;
      width: 100%;
      max-width: 45rem;
      min-width: initial;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    @include respond(tablet-land) {
      height: 64rem;
      top: 50%;
      transform: translate(12.5%, -50%);
    }

    @include respond(mobile) {
      right: initial;
      left: 0;
      transform: translate(0, -50%);
    }
  }

  &__img {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 43vw;
    max-width: 60rem;
    transform: translate(10%, 25%);
    z-index: 1;

    @include respond(tablet-land) {
      width: 60rem;
      max-width: 190vw;
      right: 50%;
      transform: translate(50%, 38.5%);
    }
  }
}

// FEATURES SECTION
.features {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: relative;
  overflow: initial;

  @include respond(tablet-land) {
    grid-gap: 3.2rem;
    grid-template-columns: 1fr;
    text-align: initial;
  }

  @include respond(mobile) {
    grid-gap: 8rem;
    text-align: center;
    padding: 0 $padding-side-mobile;
  }

  &__item {
    position: relative;
    z-index: 1;

    @include respond(tablet-land) {
      display: flex;
      align-items: center;
    }

    @include respond(mobile) {
      flex-direction: column;
    }
  }

  &__img-wrapper {
    position: relative;
    display: inline-block;
    width: 14vw;
    min-width: 20.2rem;
    margin-bottom: 4.8rem;

    @include respond(tablet-land) {
      margin-bottom: 0;
      margin-right: 4.8rem;
    }

    @include respond(mobile) {
      margin-bottom: 4.8rem;
      margin-right: 0;
    }
  }

  &__img-bg {
    width: 100%;
    display: block;
  }

  &__img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  &__item:nth-child(2) &__img-bg {
    transform: rotate(-90deg);
  }

  &__item:nth-child(3) &__img-bg {
    transform: rotate(90deg);
  }

  &__title {
    margin-bottom: 3.2rem;

    @include respond(tablet-land) {
      margin-bottom: 1.6rem;
    }

    @include respond(mobile) {
      margin-bottom: 3.2rem;
    }
  }

  &__bg {
    position: absolute;
    top: 30%;
    right: -#{$padding-side-desktop};
    transform: rotate(180deg);
    width: 70vw;
    min-width: 100.6rem;
    max-width: 120rem;

    @include respond(tablet-land) {
      display: none;
    }
  }
}
