.page-intro {
  &__container {
    display: flex;
    align-items: center;

    @include respond(tablet-land) {
      flex-direction: column-reverse;
      align-items: stretch;
      text-align: center;
    }

    @include respond(mobile) {
      border-radius: initial;
    }
  }

  &--contact &__container {
    justify-content: space-between;
    padding: 5.5rem 6.6vw;

    @include respond(tablet-land) {
      flex-direction: column;
      text-align: initial;
      padding: 7.1rem 7.5vw;
    }

    @include respond(mobile) {
      padding: 7.2rem $padding-side-mobile;
    }
  }

  &__content,
  &__img {
    position: relative;
    z-index: 1;
  }

  &__content {
    padding: 0 5.7vw 0 6.6vw;

    @include respond(tablet-land) {
      padding: 6.4rem 7.5vw;
    }

    @include respond(mobile) {
      padding: 8rem $padding-side-mobile;
    }
  }

  &--contact &__content {
    padding: 0;
    width: 31vw;
    margin-right: auto;

    @include respond(tablet-land) {
      width: 100%;
      margin-bottom: 4rem;
      margin-right: 0;
    }

    @include respond(mobile) {
      text-align: center;
      margin-bottom: 4.8rem;
    }
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__img {
    width: 33vw;
    border-radius: 0 1.5rem 1.5rem 0;
    display: block;

    @include respond(tablet-land) {
      width: 100%;
      border-radius: 1.5rem 1.5rem 0 0;
    }

    @include respond(mobile) {
      border-radius: initial;
    }
  }

  .form {
    width: 26.4vw;

    @include respond(tablet-land) {
      width: 100%;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 44vw;

    @include respond(tablet-land) {
      top: 0;
      bottom: initial;
      width: 83vw;
      min-width: 60rem;
      max-width: 75rem;
      transform: translate(-19%, -17%);
    }

    @include respond(mobile) {
      top: 25%;
      left: initial;
      right: 0;
      width: 240vw;
      min-width: initial;
      max-width: initial;
      transform: none;
    }
  }

  &--contact &__bg {
    @include respond(mobile) {
      top: 0;
      left: 0;
      right: initial;
      width: 233vw;
      min-width: 87rem;
      transform: translateX(-12%);
    }
  }
}
