.page-intro {
  &__container {
    display: flex;
    align-items: center;
    z-index: 1;

    @include respond(tablet-land) {
      flex-direction: column-reverse;
      align-items: stretch;
      text-align: center;
    }

    @include respond(mobile) {
      border-radius: initial;
    }
  }

  &__content,
  &__img {
    position: relative;
    z-index: 1;
  }

  &__content {
    padding: 0 5.7vw 0 6.6vw;

    @include respond(tablet-land) {
      padding: 6.4rem 7.5vw;
    }

    @include respond(mobile) {
      padding: 8rem $padding-side-mobile;
    }
  }

  &__img {
    width: 33vw;
    border-radius: 0 1.5rem 1.5rem 0;
    display: block;

    @include respond(tablet-land) {
      width: 100%;
      border-radius: 1.5rem 1.5rem 0 0;
    }

    @include respond(mobile) {
      border-radius: initial;
    }
  }

  &__heading {
    color: #fff;
    margin-bottom: 3.2rem;
  }

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 44vw;

    @include respond(tablet-land) {
      top: 0;
      bottom: initial;
      width: 83vw;
      min-width: 60rem;
      max-width: 75rem;
      transform: translate(-19%, -17%);
    }

    @include respond(mobile) {
      top: 25%;
      left: initial;
      right: 0;
      width: 240vw;
      min-width: initial;
      max-width: initial;
      transform: none;
    }
  }
}
